.main-class{
    width: 30px;
    height: 30px;
    border-radius: 110px;
    text-align: center;
    justify-content: center;
    background: #800080;
}
.sub-class{
    opacity: 0;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    color: #C0C0C0;
}
.main-class:hover{
    padding: 20px;
    width: 160px;
    height: 160px;
}
.main-class:hover .sub-class{
    opacity: 10;
    cursor: pointer;

}